# Vi
*.*.swp
*.sw*

# GCC/MinGW artefacts
*.o
*.exe

# Projects not for Git
hello-world/

send_input/release/send_input-*
send_input/obsolete

task_switcher/release/task_switcher-*
task_switcher/obsolete

